.DS_Store
*.db
*.sqlite
.project
.buildpath
/.settings

/data/cache/class/*
/data/cache/core/*
/data/cache/output/*
/data/cache/page/*
/data/cache/tags/*
/data/cache/config/*

!/data/cache/class/.gitkeep
!/data/cache/core/.gitkeep
!/data/cache/output/.gitkeep
!/data/cache/page/.gitkeep
!/data/cache/tags/.gitkeep
!/data/cache/config/.gitkeep

/data/uploads/*
/data/logs/*
/data/indexes/*
/data/build/*
/data/locales/*
/data/temp/*
/data/sessions/*

!/data/build/.gitkeep
!/data/uploads/.gitkeep
!/data/logs/.gitkeep
!/data/indexes/.gitkeep
!/data/locales/.gitkeep
!/data/locales/fr.php
!/data/locales/translation.csv
!/data/locales/csv/*
!/data/sessions/.gitkeep
!/data/temp/.gitkeep

/public/files/*
/public/cached/*
!/public/files/.gitkeep
!/public/cached/.gitkeep

/data/cache/pluginLoaderCache.tmp
/public/.htaccess

/build/*
tests/log/*
application/configs/local.ini
.*.un~
.*.swp
.idea/*
*.*~

*.sqlite

/tests/library/Centurion/Image/Adapter/_files/build/*
/data/cache/config.php
.sass-cache/

*.done
